@import url('https://fonts.googleapis.com/css?family=Passions+Conflict');

header {
    background: black;
    box-shadow: 6px 6px 10px 12px black;
}

h1 {
    margin: 20px;
    text-decoration: none;
    color: white;
    font-family: 'Passions Conflict';
    font-weight: 100;
    font-size: 5rem;
    background: linear-gradient(to right, #cacaca, #59d0ff 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.headerButton {

    font-family: 'Passions Conflict';
    font-size: 3rem;
    border: none;
    color: white;
    font-weight: 100;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease 0s;
  }
  
.headerButton:hover {
    color: #59d0ff;
    font-weight: 700;
    letter-spacing: 3px;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px #000000;
    -moz-box-shadow: 0px 5px 40px -10px #000000;
    transition: all 0.3s ease 0s;
  }

#headerButtonsContainer {
    margin-left: 900px;
}