@import url('https://fonts.googleapis.com/css?family=Passions+Conflict');

.myJournalsHeader {
    color: white;
    font-family: 'Passions Conflict';
    text-shadow: 2px 2px black;
    font-size: 4rem;
    font-weight: 100;
}